/* application.css */

/* ページ全体のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* ヘッダーのスタイル */
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

h1 {
  margin: 0;
}


.header-buttons {
  text-align: center;
  margin-top: 1rem;
}

.header__bar a {
  text-decoration: none; /* リンクの下線を非表示にする */
  color: inherit; /* リンクの色を親要素の色に合わせる（省略可） */
}

.button {
  display: block;
  padding: 0.3rem 0.8rem;
  font-size: 1.5rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  width: 150px; /* ボタンの横幅を調整 */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* 投稿のスタイル */
.post {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-date {
  font-size: 0.8rem;
  color: #888;
}

.label {
  font-weight: bold;
}

.post-content {
  margin-top: 0.5rem;
}

/* メインコンテンツのスタイル */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.input-birth-wrap {
  text-align: center;
}

.birth-fields {
  display: flex;
  align-items: center;
  gap: 5px;
}